.header{
  background-color: hsl(36, 97%, 49%);
}

.sidebar{
  background-color: aliceblue;
}

/* Add this to your CSS stylesheet or style block */
.carousel-control-prev span,
.carousel-control-next span {
  box-shadow: 0 0 10px rgba(36, 36, 31, 0.5); /* Adjust the values as needed */
}
